a:link, a:visited {
    background-color: black;
    color: white;
    padding: 10px 14px 10px 30px;
    margin: 5px 5px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
    border-radius: 15px;
  }
  
  a:hover, a:active {
    background-color: blue;
  }
  
  img {
    padding: 0 -8px;
    border: 1px solid black;
    margin: 0 8px;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto
    }
  
    ul, div {
      text-align: center;
      display: inline;
      list-style-position: inside;
      margin-left: 0;
      padding-left: 1em;
      text-indent: -1em;
   }
  
   body {
    margin:0; /*gets rid of white space around body*/
    margin-top:16px;
    height:80vh; /*you can let your content define it's height*/
    position:relative; /*REQUIRED Sets up positioning for your footer*/
  }
  
  #sticky {
    width:100%;
    height:30px;
    padding:20px;
    background: black;
    color:white;
    font-weight:bold;
    font-size:24px;
    text-align:center;
    position:fixed; /*Here's what sticks it*/
    bottom:0;          /*to the bottom of the body/page*/
    left:0;            /*and to the left of the body/page.*/
    
  }